.app_screen_container {
	-fx-background-color: #EEEEEE;
}

.app_screen_area {
	-fx-padding: 10 10 10 10;
	-fx-pref-width: 600;
	-fx-pref-height: 600;
}

.app_screen_title {
	-fx-font-size: 20;
}

.app_screen_item_container {
	-fx-spacing: 10;
}

.app_screen_item_container Button {
	-fx-background-color: #FFFFFF;
	-fx-text-fill: #132A13;
	-fx-font-size: 16;
	-fx-pref-width: 160;
	-fx-pref-height: 30;
	-fx-aligment:center_left;
	-fx-effect: dropshadow(two-pass-box, #DDDDDD, 5,0,0,6);
}
